.container {
  background-color: #f2f2f2;
  width: 800px;
  font-family: "Verdana";
}

.header {
  padding: 15px;
}

.header-text {
  background-color: white;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;
}
#events-upcoming div {
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#events-upcoming div .date{
	color: red;
	font-size: 10pt;
}

#events-upcoming div .description{
	font-size: 12pt;
}

.google-embed{
    overflow:hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
}
.google-embed iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#fb-like {
  color: blue;
}

.navbar {
  margin: 15px;
  text-align: center;
}