.container {
  background-color: #f2f2f2;
  width: 800px;
  font-family: "Verdana";
}

.header {
  padding: 15px;
}

footer {
  padding: 20px;
  border-top: 1px solid #ccc;
  margin: 20px;
  margin-top: 30px;
  font-size: 10pt;
  color: grey;
}

.header-text {
  margin-top: 10px;
  background-color: white;
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;
}

.events {
  color: white;
  background-color: #c40403;
  margin: 15px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;
}

.main-description {
  padding: 15px;
  padding-left: 20px;
}

.main-description p {
  text-align: left;
  text-indent: 2em;
  margin-top: 20px;
}

.main-description h2 {
  color: #c40403;
}

#events-upcoming {
  padding-left: 15px;
  padding-right: 8px;
}

#events-upcoming div {
  color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
  margin: 20px 0px;
  padding: 20px;
  padding-top: 10px;
}

#events-upcoming .date{
	color: red;
	font-size: 10pt;
  padding-bottom: 15px;
}

#events-upcoming .description{
	font-size: 12pt;
  margin-top: 10px;
  padding: 5px;
}

.google-embed { 
    overflow:hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
}
.google-embed iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#fb-like {
  color: blue;
}

.navbar-default {
  margin: 15px;
  text-align: center;
  background-color: white;
}

.contact {
  margin: 15px;
}

.contact-description {
  margin-top: 25px;
  text-align: left;
  text-indent: 2em;
}
